## 1. Importing data for confirmed cases and deaths

In [1]:
import pandas as pd

df_confirmed = pd.read_csv("raw_data/us_confirmed.csv")

df_confirmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538065 entries, 0 to 538064
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UID             538065 non-null  int64
 1   iso2            538065 non-null  object
 2   iso3            538065 non-null  object
 3   code3           538065 non-null  int64
 4   FIPS            536415 non-null  float64
 5   Admin2          536910 non-null  object
 6   Lat             538065 non-null  float64
 7   Combined_Key    538065 non-null  object
 8   Date            538065 non-null  object
 9   Case            538065 non-null  int64
 10  Long            538065 non-null  float64
 11  Country/Region  538065 non-null  object
 12  Province/State  538065 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 53.4+ MB

In [2]:
df_deaths = pd.read_csv("raw_data/us_deaths.csv")

df_deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Lat,Combined_Key,Population,Date,Case,Long,Country/Region,Province/State
0,16,AS,ASM,16,60.0,NaN,-14.271,"American Samoa, US",55641,2020-01-22,0,-170.132,US,American Samoa
1,16,AS,ASM,16,60.0,NaN,-14.271,"American Samoa, US",55641,2020-01-23,0,-170.132,US,American Samoa
2,16,AS,ASM,16,60.0,NaN,-14.271,"American Samoa, US",55641,2020-01-24,0,-170.132,US,American Samoa
3,16,AS,ASM,16,60.0,NaN,-14.271,"American Samoa, US",55641,2020-01-25,0,-170.132,US,American Samoa
4,16,AS,ASM,16,60.0,NaN,-14.271,"American Samoa, US",55641,2020-01-26,0,-170.132,US,American Samoa

## 2. Subset data to first 100 cases

In [3]:
df_first_hundred = df_confirmed.loc[df_confirmed["Case"] >= 100].drop_duplicates(subset=["Province/State"], keep="first")
df_first_hundred = df_first_hundred[["Date","Case", "Province/State"]].reset_index(drop=True)
df_first_hundred.columns = ["Date","Case", "State"]

df_first_hundred

          Date  Case                 State
0   2020-04-05   112                  Guam
1   2020-03-28   100           Puerto Rico
2   2020-07-04   111        Virgin Islands
3   2020-05-14   104               Alabama
4   2020-04-08   103                Alaska
5   2020-04-15   110               Arizona
6   2020-04-29   101              Arkansas
7   2020-03-23   118            California
8   2020-03-29   110              Colorado
9   2020-03-19   102           Connecticut
10  2020-04-06   128              Delaware
11  2020-03-22   102  District of Columbia
12  2020-04-03   110               Florida
13  2020-05-14   108               Georgia
14  2020-03-28   108                Hawaii
15  2020-03-30   113                 Idaho
16  2020-07-02   100              Illinois
17  2020-04-09   105               Indiana
18  2020-05-08   101                  Iowa
19  2020-06-17   156                Kansas
20  2020-06-09   100              Kentucky
21  2020-04-13   101             Louisiana
22  2020-05-13   103                 Maine
23  2020-04-25   105              Maryland
24  2020-03-27   100         Massachusetts
25  2020-04-28   104              Michigan
26  2020-04-22   105             Minnesota
27  2020-04-23   101           Mississippi
28  2020-06-04   102              Missouri
29  2020-04-04   101               Montana
30  2020-04-20   100              Nebraska
31  2020-03-20   126                Nevada
32  2020-04-01   109         New Hampshire
33  2020-04-05   121            New Jersey
34  2020-03-29   101            New Mexico
35  2020-03-22   123              New York
36  2020-04-30   109        North Carolina
37  2020-05-06   102          North Dakota
38  2020-04-23   100                  Ohio
39  2020-06-18   101              Oklahoma
40  2020-04-09   109                Oregon
41  2020-04-24   110          Pennsylvania
42  2020-04-24   102          Rhode Island
43  2020-06-26   100        South Carolina
44  2020-05-23   118          South Dakota
45  2020-06-30   102             Tennessee
46  2020-06-13   102                 Texas
47  2020-04-02   103                  Utah
48  2020-03-28   105               Vermont
49  2020-04-24   100              Virginia
50  2020-06-16   100            Washington
51  2020-04-14   100         West Virginia
52  2020-04-15   114             Wisconsin
53  2020-04-27   106               Wyoming
54  2020-03-28   103        Grand Princess

## 3. Importing policy data

- subset dataframe for "PublicMask" and "StayAtHome" policies
- find dates for when these policies were enacted

In [4]:
df_policies = pd.read_csv("raw_data/USstatesCov19distancingpolicy.csv", delimiter=";")

In [5]:
# Subsetting for PublicMask and StayAtHome

df_policies = df_policies[df_policies["StatePolicy"].isin(["PublicMask", "StayAtHome"])]

In [6]:
# Separating df into PublicMask and StayAtHome

df_public_mask = df_policies.loc[df_policies["StatePolicy"] == "PublicMask"].reset_index(drop=True)

df_public_mask.head()

,location_id,StateFIPS,StatePostal,StateName,StatePolicy,Mandate,StateWide,DateIssued,DateEnacted,DateExpiry,DateEased,DateEnded,DateReexpanded1,PolicyCodingNotes,PolicySource,LastUpdated,LastUpdatedNotes
0,523,1,AL,Alabama,PublicMask,0,1,20200428,20200430,20200731.0,NaN,NaN,NaN,Recommendation from the Gov in the Safer At Ho...,http://www.alabamapublichealth.gov/legal/asset...,20200701,Updated DateExpiry to 20200731
1,524,2,AK,Alaska,PublicMask,0,1,20200403,20200403,NaN,NaN,NaN,NaN,Highly recommended for all Alaskans: wear a cl...,http://dhss.alaska.gov/dph/Epi/id/SiteAssets/P...,20200426,NaN
2,526,5,AR,Arkansas,PublicMask,0,1,20200423,20200423,NaN,NaN,NaN,NaN,"Everyone should wear a face covering, or mask,...",https://www.healthy.arkansas.gov/images/upload...,20200623,Updated PolicyNotes re extension
3,527,6,CA,California,PublicMask,0,1,20200401,20200401,NaN,NaN,NaN,NaN,Provides guidance around using face coverings ...,https://www.cdph.ca.gov/Programs/CID/DCDC/Page...,20200525,NaN
4,527,6,CA,California,PublicMask,1,1,20200618,20200618,NaN,NaN,NaN,NaN,(quote) People in California must wear face co...,https://www.cdph.ca.gov/Programs/CID/DCDC/CDPH...,20200621,NaN

In [7]:
df_stay_home = df_policies.loc[df_policies["StatePolicy"] == "StayAtHome"]
df_stay_home["StateName"].value_counts()

Pennsylvania            8
Louisiana               3
Mississippi             3
Tennessee               3
Idaho                   3
Florida                 2
South Carolina          2
North Carolina          2
New Hampshire           2
Indiana                 2
Minnesota               2
Ohio                    2
Oklahoma                2
Illinois                2
Utah                    2
West Virginia           2
Colorado                2
Georgia                 2
Vermont                 2
Delaware                2
Alaska                  2
Alabama                 2
Texas                   2
Kansas                  2
New Jersey              1
New Mexico              1
South Dakota            1
Washington              1
Missouri                1
Rhode Island            1
Nevada                  1
New York                1
Montana                 1
District of Columbia    1
Oregon                  1
Massachusetts           1
Maryland                1
Michigan                1
Maine                   1
Kentucky                1
California              1
Connecticut             1
Wisconsin               1
Arizona                 1
Virginia                1
Hawaii                  1
Name: StateName, dtype: int64

In [8]:
# subset for dates when policies were enacted

df_public_mask = df_public_mask[["StateName","Mandate", "StateWide", "DateEnacted"]]
df_stay_home = df_stay_home[["StateName","Mandate", "StateWide", "DateEnacted"]]

In [9]:
# Changing "DateEnacted" to "PublicMask_date" and converting to datetime

df_public_mask.columns = ["State","Mandate_mask", "StateWide_mask", "PublicMask_date"]
df_public_mask["PublicMask_date"] = pd.to_datetime(df_public_mask["PublicMask_date"], format="%Y%m%d")

df_public_mask = df_public_mask.drop_duplicates(subset=["State"], keep="first")

df_public_mask

                   State  Mandate_mask  StateWide_mask PublicMask_date
0                Alabama             0               1      2020-04-30
1                 Alaska             0               1      2020-04-03
2               Arkansas             0               1      2020-04-23
3             California             0               1      2020-04-01
5               Colorado             0               1      2020-04-27
6            Connecticut             1               1      2020-04-20
7               Delaware             1               1      2020-04-28
8   District of Columbia             1               1      2020-04-17
10               Florida             0               1      2020-06-20
11               Georgia             0               1      2020-05-01
12                Hawaii             0               1      2020-04-17
13                 Idaho             0               1      2020-04-06
14              Illinois             1               1      2020-05-01
15               Indiana             0               1      2020-05-22
16                Kansas             0               1      2020-05-04
18              Kentucky             0               1      2020-04-04
19             Louisiana             0               1      2020-04-27
20                 Maine             1               1      2020-05-01
21              Maryland             1               1      2020-04-18
22         Massachusetts             1               1      2020-05-06
23              Michigan             1               1      2020-04-27
24             Minnesota             0               1      2020-05-04
25           Mississippi             1               0      2020-05-12
26              Missouri             0               1      2020-04-07
27                Nevada             0               1      2020-05-09
29            New Jersey             1               1      2020-04-13
30            New Mexico             1               1      2020-05-15
31              New York             1               1      2020-04-17
32        North Carolina             0               1      2020-05-08
34                  Ohio             0               1      2020-04-04
35                Oregon             1               0      2020-06-24
37          Pennsylvania             0               1      2020-04-03
39          Rhode Island             1               1      2020-05-08
40             Tennessee             0               1      2020-04-29
41                 Texas             0               1      2020-05-05
42                  Utah             0               1      2020-04-10
44               Vermont             0               1      2020-04-20
46              Virginia             0               1      2020-05-26
47            Washington             0               1      2020-05-04
49         West Virginia             0               1      2020-06-29
50             Wisconsin             0               1      2020-05-28
51               Wyoming             0               1      2020-04-06

In [10]:
# Changing "DateEnacted" to "StayAtHome_date" and converting to datetime

df_stay_home.columns = ["State","Mandate_home", "StateWide_home", "StayAtHome_date"]
df_stay_home["StayAtHome_date"] = pd.to_datetime(df_stay_home["StayAtHome_date"], format="%Y%m%d")

df_stay_home = df_stay_home.drop_duplicates(subset=["State"], keep="first").reset_index(drop=True)

df_stay_home

                   State  Mandate_home  StateWide_home StayAtHome_date
0                Alabama             1               1      2020-04-04
1                 Alaska             1               0      2020-03-22
2                Arizona             1               1      2020-03-31
3             California             1               1      2020-03-19
4               Colorado             1               1      2020-03-26
5            Connecticut             0               1      2020-03-23
6               Delaware             1               1      2020-03-24
7   District of Columbia             1               1      2020-04-01
8                Florida             1               1      2020-04-03
9                Georgia             1               0      2020-03-24
10                Hawaii             1               1      2020-03-25
11                 Idaho             1               0      2020-03-19
12              Illinois             1               1      2020-03-21
13               Indiana             1               1      2020-03-25
14                Kansas             1               1      2020-03-30
15              Kentucky             0               1      2020-03-26
16             Louisiana             1               1      2020-03-23
17                 Maine             1               1      2020-04-02
18              Maryland             1               1      2020-03-30
19         Massachusetts             0               1      2020-03-24
20              Michigan             1               1      2020-03-24
21             Minnesota             1               1      2020-03-28
22           Mississippi             1               0      2020-03-31
23              Missouri             1               1      2020-04-06
24               Montana             1               1      2020-03-28
25                Nevada             1               1      2020-03-31
26         New Hampshire             1               1      2020-03-28
27            New Jersey             1               1      2020-03-21
28            New Mexico             0               1      2020-03-24
29              New York             1               1      2020-03-22
30        North Carolina             1               1      2020-03-30
31                  Ohio             1               1      2020-03-24
32              Oklahoma             1               0      2020-03-24
33                Oregon             1               1      2020-03-23
34          Pennsylvania             1               0      2020-03-23
35          Rhode Island             1               1      2020-03-28
36        South Carolina             1               1      2020-04-07
37          South Dakota             1               0      2020-04-06
38             Tennessee             0               1      2020-04-01
39                 Texas             1               1      2020-04-02
40                  Utah             1               0      2020-03-27
41               Vermont             1               1      2020-03-24
42              Virginia             1               1      2020-03-30
43            Washington             1               1      2020-03-23
44         West Virginia             1               1      2020-03-24
45             Wisconsin             1               1      2020-03-25

## 4. Merge policy date dataframes

- merge dataframes
- subtract policy dates from dates of first 100 cases per state

In [11]:
df_public_mask.merge(df_stay_home, how="outer")

,State,Mandate_mask,StateWide_mask,PublicMask_date,Mandate_home,StateWide_home,StayAtHome_date
0,Alabama,0.0,1.0,2020-04-30,1.0,1.0,2020-04-04
1,Alaska,0.0,1.0,2020-04-03,1.0,0.0,2020-03-22
2,Arkansas,0.0,1.0,2020-04-23,NaN,NaN,NaT
3,California,0.0,1.0,2020-04-01,1.0,1.0,2020-03-19
4,Colorado,0.0,1.0,2020-04-27,1.0,1.0,2020-03-26
5,Connecticut,1.0,1.0,2020-04-20,0.0,1.0,2020-03-23
6,Delaware,1.0,1.0,2020-04-28,1.0,1.0,2020-03-24
7,District of Columbia,1.0,1.0,2020-04-17,1.0,1.0,2020-04-01
8,Florida,0.0,1.0,2020-06-20,1.0,1.0,2020-04-03
9,Georgia,0.0,1.0,2020-05-01,1.0,0.0,2020-03-24
10,Hawaii,0.0,1.0,2020-04-17,1.0,1.0,2020-03-25
11,Idaho,0.0,1.0,2020-04-06,1.0,0.0,2020-03-19
12,Illinois,1.0,1.0,2020-05-01,1.0,1.0,2020-03-21
13,Indiana,0.0,1.0,2020-05-22,1.0,1.0,2020-03-25
14,Kansas,0.0,1.0,2020-05-04,1.0,1.0,2020-03-30
15,Kentucky,0.0,1.0,2020-04-04,0.0,1.0,2020-03-26
16,Louisiana,0.0,1.0,2020-04-27,1.0,1.0,2020-03-23
17,Maine,1.0,1.0,2020-05-01,1.0,1.0,2020-04-02
18,Maryland,1.0,1.0,2020-04-18,1.0,1.0,2020-03-30
19,Massachusetts,1.0,1.0,2020-05-06,0.0,1.0,2020-03-24
20,Michigan,1.0,1.0,2020-04-27,1.0,1.0,2020-03-24
21,Minnesota,0.0,1.0,2020-05-04,1.0,1.0,2020-03-28
22,Mississippi,1.0,0.0,2020-05-12,1.0,0.0,2020-03-31
23,Missouri,0.0,1.0,2020-04-07,1.0,1.0,2020-04-06
24,Nevada,0.0,1.0,2020-05-09,1.0,1.0,2020-03-31
25,New Jersey,1.0,1.0,2020-04-13,1.0,1.0,2020-03-21
26,New Mexico,1.0,1.0,2020-05-15,0.0,1.0,2020-03-24
27,New York,1.0,1.0,2020-04-17,1.0,1.0,2020-03-22
28,North Carolina,0.0,1.0,2020-05-08,1.0,1.0,2020-03-30
29,Ohio,0.0,1.0,2020-04-04,1.0,1.0,2020-03-24
30,Oregon,1.0,0.0,2020-06-24,1.0,1.0,2020-03-23
31,Pennsylvania,0.0,1.0,2020-04-03,1.0,0.0,2020-03-23
32,Rhode Island,1.0,1.0,2020-05-08,1.0,1.0,2020-03-28
33,Tennessee,0.0,1.0,2020-04-29,0.0,1.0,2020-04-01
34,Texas,0.0,1.0,2020-05-05,1.0,1.0,2020-04-02
35,Utah,0.0,1.0,2020-04-10,1.0,0.0,2020-03-27
36,Vermont,0.0,1.0,2020-04-20,1.0,1.0,2020-03-24
37,Virginia,0.0,1.0,2020-05-26,1.0,1.0,2020-03-30
38,Washington,0.0,1.0,2020-05-04,1.0,1.0,2020-03-23
39,West Virginia,0.0,1.0,2020-06-29,1.0,1.0,2020-03-24
40,Wisconsin,0.0,1.0,2020-05-28,1.0,1.0,2020-03-25
41,Wyoming,0.0,1.0,2020-04-06,NaN,NaN,NaT
42,Arizona,NaN,NaN,NaT,1.0,1.0,2020-03-31
43,Montana,NaN,NaN,NaT,1.0,1.0,2020-03-28
44,New Hampshire,NaN,NaN,NaT,1.0,1.0,2020-03-28
45,Oklahoma,NaN,NaN,NaT,1.0,0.0,2020-03-24
46,South Carolina,NaN,NaN,NaT,1.0,1.0,2020-04-07
47,South Dakota,NaN,NaN,NaT,1.0,0.0,2020-04-06